package views
import "github.com/cyla00/monero-escrow/components"

templ Index(){
    <!DOCTYPE html>
    <html lang="en" class="no-js">
    @components.Head()
    <body>
        @components.Header()

        @components.Footer()
    </body>
    </html>
}