package views
import "github.com/cyla00/monero-escrow/components"

templ Signin(){
    <!DOCTYPE html>
    <html lang="en" class="no-js">
    @components.Head()

    <body>
    @components.Header()
        sign in
    </body>
    </html>
}