package views
import "github.com/cyla00/monero-escrow/components"

templ Transaction(){
    <!DOCTYPE html>
    <html lang="en" class="no-js">
    @components.Head()

    <body>
        transaction page with query
    </body>
    </html>
}