package components

import (
	"time"
    "strconv"
)

func getYear() int {
    return time.Now().Year()
}

var year = strconv.Itoa(getYear())

templ Footer(){
    <footer>
        <p>&copy; Copyright {year} FideXMR</p>
    </footer>
}