package components

templ Header(){
    <header>
        <nav clas="">
            <div>
                <img src="https://placehold.co/120x50" alt=""/>
            </div>
            <div class=""></div>
            <div>
                <a href="/sign-up">Sign Up</a>
                <a href="/sign-in">Sign In</a>
            </div>
        </nav>
    </header>
}