package components

templ Header(){
    <header>
        <nav class="w-full flex justify-center m-auto">
            <div class="my-auto">
                <a href="/"><img src="https://placehold.co/120x50" alt="" class="py-3" /></a> 
            </div>
        </nav>
    </header>
}